<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">
          <div class = "col - 4">
             <div class="card">
                <div class = "card-body">
                    <form>
                        <div class ="mb-3">
                            <h4>Register</h4>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input class="form-control" name="email"  [(ngModel)] = "email" >
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input [(ngModel)] = "password" type="password" class="form-control" name = "password">
                        </div>
                        <div class="container"></div>
                        <button type="button" class="btn btn-primary" (click)="register()">Register</button>
                        <div class="row">
                       <div class="col-md-6">
                       <a href="/login">Login account</a>
                       </div>
                     
                        </div>
                      </form>
                </div>
             </div>
          </div>    
        </div>
    </div>
</div>